@{
    ViewData["Title"] = "Home Page";
}

@model List<User>
<div>
    <p style="font-size: 60px; font-weight: bolder; color: white; text-align: center;" class="animate">War Ready! Modern Warefare 2019</p>
</div>


<audio autoplay><source src="~/music/Rick Ross - War Ready (Clean).mp3" type="audio/mpeg" /></audio>

<a style="text-align: center; font-size: 30px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="RegisterUser">Register User</a>

<a style="text-align: center; font-size: 30px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="UserLogin">Login</a>

