
@{
    ViewData["Title"] = "LoginValidation";
    <a style="text-align: right; font-size: 30px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="UserDetails">View User Details</a>
}

@model User
<h1 style=" text-align:center; color: white;"><strong>Welcome Back @Model.Name</strong></h1>

